---
description: >-
  Authenticating and verifying the identity of informants and parents during the
  event application process both offline and online.
---

# In-form authentication / verification

