---
metaLinks:
  alternates:
    - >-
      https://app.gitbook.com/s/RziAMaeBMeyiTg5hfFq5/technology/interoperability/national-id/in-form-authentication-verification
---

# In-form authentication / verification

Documentation for the form fields required for In-form authentication / verification in OpenCRVS 1.9 is a work in progress
